body {
    font-size: 14px;
}

.hero {
    padding: 40px 15px;
}

.hero h1 {
    font-size: 2rem;
}

.hero p {
    font-size: 1.3rem;
}

.hero-img {
    max-width: 100%;
    border-radius: 15px;
}

.navbar {
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 15px;
}

.topbar {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 15px;
    padding: 8px 15px;

    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);

    border-radius: 50px;
    z-index: 2000;
}

.topbar a {
    font-size: 1rem;
}

.hero {
    margin-top: 40px;
}

.navbar a {
    font-size: 1rem;
}

.container {
    padding: 20px 10px;
    gap: 25px;
}

.card {
    padding: 20px;
    font-size: 1rem;
    border-radius: 18px;
}

.about {
    grid-template-columns: 1fr;
}

.feature {
    padding: 15px;
}

.grid {
    grid-template-columns: 1fr;
}

button,
.button {
    width: 100%;
    font-size: 1rem;
    padding: 14px;
}

.form-group label {
    font-size: 1.2rem;
}

.form-group input,
.form-group textarea {
    font-size: 1rem;
    padding: 8px;
}

.popup-content {
    width: 90%;
    padding: 20px;
}

.steam-button,
.instagram-button,
.youtube-button,
.tiktok-button {
    position: fixed;
    z-index: 1000;
}

.steam-button img,
.instagram-button img,
.youtube-button img,
.tiktok-button img {
    width: 60px;
    height: 60px;
}
.steam-button {
    right: 15px;
    top:90%;
    animation: swing 2s infinite ease-in-out;
}

.youtube-button {
    left: 15px;
    top: 90%;
    animation: swing 2s infinite ease-in-out;
}

.tiktok-button {
    right: 15px;
    top: 5%;
    animation: swing 2s infinite ease-in-out;
}

.instagram-button {
    left: 15px;
    top: 5%;
    animation: swing 2s infinite ease-in-out;
}

@keyframes swing {
    0% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}
section {
    scroll-margin-top: 100px;
}
