/* styles.css */
html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: url("assets/banner.jpg") center/cover no-repeat;

    opacity: 0.4;
    z-index: -1;
    image-rendering: auto;
}

section {
    scroll-margin-top: 450px;
}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero div {
    background: linear-gradient(to bottom, #7ecbff, #cfe9ff);
    padding: 20px;
    border-radius: 15px;
    max-width: fit-content;
    margin: 0 auto;
}

.hero-img {
    width: 100%;
    max-width: 700px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.hero h1 {
    font-size: 3.5rem;
    color: white;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.hero p {
    font-size: 2.5rem;
    color: white;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}


.navbar {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    margin: 10px auto;
    max-width: fit-content;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(12px);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.7), 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1),
    box-shadow 0.4s ease;
}

.navbar a {
    text-decoration: none;
    font-size: 1.8rem;
    color: #4fa9ff;
    font-weight: bold;
    transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1),
    box-shadow 0.4s ease;
}

.navbar:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
}

.navbar a:hover {
    transform: translateY(-10px) scale(1.02);
}

.navbar a:visited {
    color: #4fa9ff;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 25px;
    padding: 30px;
    /*box-shadow: 0 20px 40px rgba(0,0,0,0.1);*/
    font-size: 1.4rem;
    transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1),
    box-shadow 0.4s ease;
}

.card:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
}

video {
    margin: auto;
    width: 100%;
    padding: 5px;
}

.button {
    font-family: 'Nunito', sans-serif;
    font-size: 1.4rem;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1),
    box-shadow 0.4s ease;
}

.button:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.about img {
    width: 100%;
    border-radius: 20px;
}

.features {
    display: grid;
    gap: 20px;
}

.feature {
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(to bottom right, #ffffff, #dff3ff);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1),
    box-shadow 0.4s ease;
}

@keyframes floatSmall {
    0% {
        transform: translateY(0) scale(1);
    }
    /*50% { transform: translateY(-4px) scale(1.02); }*/
    100% {
        transform: translateY(-8px) scale(1.03);
    }
}

.feature:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}


button {
    margin-top: 20px;
    padding: 12px 25px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(to right, #7ecbff, #4fa9ff);
    color: white;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.grid div {
    background: #f0f8ff;
    padding: 15px;
    border-radius: 12px;
    transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1),
    box-shadow 0.4s ease;
}

.grid span {
    padding: 5px;
    font-weight: bold;
}

@keyframes floatTiny {
    0% {
        transform: translateY(0) scale(1);
    }
    100% {
        transform: translateY(-6px) scale(1.01);
    }
}

.grid div:hover {
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

#contact h1 {
    font-size: 2rem;
}

.form-group {
    display: grid;
    font-size: 1.2rem;
    background: #dde6f8;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1),
    box-shadow 0.4s ease;
    /*max-width: 400px;*/
}

.form-group:not(:last-child) {
    margin-bottom: 20px;
}

.form-group:hover {
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.form-group label {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    border-radius: 10px;
    font-size: 1.3rem;
    font-family: 'Nunito', sans-serif;
    border: 1px solid #dff3ff;
    padding: 2px;
}

.form-group textarea {
    border-radius: 10px;
    font-size: 1.3rem;
    font-family: 'Nunito', sans-serif;
    border: 1px solid #dff3ff;
    padding: 2px;
    resize: none;
    overflow: auto;
}

.popup {
    font-size: 1.3rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

.popup.hidden {
    opacity: 0;
    pointer-events: none;
}

.popup-content {
    background: white;
    padding: 25px;
    border-radius: 20px;
    transform: scale(0.8);
    transition: 0.3s;
}

.popup:not(.hidden) .popup-content {
    transform: scale(1);
}

footer {
    text-align: center;
    padding: 20px;
}

/* FLOATING STEAM BUTTON */
.steam-button {
    position: fixed;
    right: 50px;
    top: 70%;
    transform: translateY(-50%) rotate(-15deg);
    z-index: 1000;
    animation: swing 2s infinite ease-in-out;
}

.steam-button img {
    width: 200px;
    height: 200px;
}

/* FLOATING instagram BUTTON */
.instagram-button {
    position: fixed;
    left: 50px;
    top: 30%;
    transform: translateY(-50%) rotate(-15deg);
    z-index: 1000;
    animation: swing 2s infinite ease-in-out;
}

.instagram-button img {
    width: 200px;
    height: 200px;
}

/* FLOATING Youtube BUTTON */
.youtube-button {
    position: fixed;
    left: 50px;
    top: 70%;
    transform: translateY(-50%) rotate(-15deg);
    z-index: 1000;
    animation: swing 2s infinite ease-in-out;
}

.youtube-button img {
    width: 200px;
    height: 200px;
}

.tiktok-button {
    position: fixed;
    right: 50px;
    top: 30%;
    transform: translateY(-50%) rotate(-15deg);
    z-index: 1000;
    animation: swing 2s infinite ease-in-out;
}

.tiktok-button img {
    width: 200px;
    height: 200px;
}

@keyframes swing {
    0% {
        transform: translateY(-50%) rotate(-15deg);
    }
    50% {
        transform: translateY(-50%) rotate(15deg);
    }
    100% {
        transform: translateY(-50%) rotate(-15deg);
    }
}


@keyframes floatUp {
    0% {
        transform: translateY(0) scale(1);
    }
    100% {
        transform: translateY(-10px) scale(1.02);
    }
}